<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Satisfy&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      h2 {
        font-family: "Press Start 2P", system-ui;
      }
      p {
        font-family: "Satisfy", cursive;
      }
      #verson{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgb(177, 175, 175);
      }
    </style>
  </head>
  <body class="w-full h-screen bg-black bg-cover bg-no-repeat flex flex-col items-center justify-center">
    <form id="welcome" class="flex flex-col items-center justify-center">
      <div class="w-[500px] h-[200px] flex items-center justify-center">
        <img src="/images/chatterBox_1-removebg-preview.png" alt="" />
      </div>

      <div class="w-[700px] h-[100px] flex flex-col items-center justify-center text-gray-300 text-center">
        <h2 class="text-xl mb-4">Welcome to ChatterBox</h2>
        <p class="text-lg text-gray-400">A vibrant, user-friendly space to connect, share, and chat seamlessly.</p>
      </div>

      <a href="/users/login"
        class="px-12 py-2 mt-6 bg-green-600 hover:bg-green-700 text-black rounded border border-green-600 text-base font-semibold"
      >
        Get Started
      </a>

      <p id="verson" class="text-gray-400 text-lg mt-4">Version 0.3</p>
    </form>
  </body>
</html>
