/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #6e6969;
    overflow: hidden

} */

.theme-toggle-btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.theme-toggle-btn:hover {
  background-color: #555;
}

/* UI */

/* #profile-logout {
  width: 100%;
  height: 49%;
  background-color: rgb(47, 47, 47);
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgb(0, 0, 0);
  align-items: center;
}

#logout-user {
  height: 40px;
  width: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 50%;
} */
#logout-user img {
  /* width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover; */
}

/* 








                       /*  webSocket */

#messageContaine {
  font-family: "Gilroy", sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.message {
  max-width: 100%;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 16px;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.left {
  margin: 20px;
  align-self: flex-start;
  background-color: #4b4b4b;
  color: #ffffff;
  max-width: 70%;
}

.right {
  margin: 20px;
  align-self: flex-end;
  background-color: hsl(129, 100%, 20%);
  color: #ffffff;
  max-width: 70%;

}

.type_message {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

#sendIcon {
  font-size: 24px;
  cursor: pointer;
  color: #007bff;
}

#sendIcon:hover {
  color: #0056b3;
}
.timestamp {
  font-size: 12px;
  color: #ffffff;
  margin-left: 8px;
}
